.mainContainer {
  max-width: 720px;

  margin: 0 auto;
}

.previewButton {
  display: block;
  max-width: 720px;
  background: var(--white);
  color: var(--background);
  border-radius: 0.25rem;
  margin: 5rem auto;
  padding: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.361rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
